* {
    box-sizing: border-box;
  }
  html,body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  canvas{
    width:350px;
    height: auto;
    margin: 0.85rem 1.045rem;
  }
  .App {
    text-align: center;
    background-color: #282c34;
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 75% 25%;
  }
  .header-app{
    font-size: calc(20px + 2vmin);
    color: white;
  
    text-align: center;
  }
  .app-description{
    color: white;
    text-align: center;
    font-size: medium;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .containerDeps{
    min-height: 100vh;
    margin-top: 1.04rem;
  }
  .dependenciesInfo{
    color: white;
    font-size: calc(4px + 2vmin);
  }
  
  .sections-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .assignment-section{
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin: 10px;
  }
  .assignment-section-content{
    margin: 10px;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  /* nsfw */
  .nsfwApp{
    background-color: #282c34;
    color: #eaeaea;
    text-align: center;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
  }
  footer{
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    color: white;
  }
  a {
    color: white ;
    text-decoration: none;
  }
  a:visited {
    color: "#F2F2F2";
  }
  a:hover {
    color:"#F2F2F2" ;
  }
  a:focus {
    color: "#F2F2F2";
  }
  a:active {
    color: "#F2F2F2";
  }
  a:focus{
    color: "#F2F2F2";
  }
  .dropzone {
    padding: 30px;
    height: 30vh;
    border: 5px dashed white;
    outline: none;
    cursor: pointer;
  }
  .dropzone-active {
    background-color: #f1e2ff;
    border: 5px solid #2fd7b5;
  }
  .dropzone-content {
    align-self: center;
    font-size: 24px;
  }
  .file-list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
  }
  .file-item {
    width: calc(33% - 20px);
    height:calc(33% - 20px);
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin: 10px;
    transition: all 0.2s linear;
  }
  .file-img{
    margin: 0.85rem 1.045rem;
    width: 80%;
    height: 80%;
  }
  .nsfw-file-image{
    margin: 0.85rem 1.045rem;
    width: 80%;
    height: 80%;
    -webkit-filter: blur(2.5rem); /* Safari 6.0 - 9.0 */
    filter: blur(2.5rem);
  }
  .blur-gif{
    -webkit-filter: blur(2.5rem); /* Safari 6.0 - 9.0 */
    filter: blur(2.5rem);
   /*  width:400px;
    max-width: 500px; */
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 1000px) {
    .App {
      max-width: 600px;
    }
    .file-item {
      width: calc(50% - 22px);
      height: 200px;
    }
  }
  
  /* Mobiles */
  @media (max-width: 640px) {
    .App {
      max-width: 100%;
      padding: 0 15px;
    }
    .file-item {
      width: calc(100% - 22px);
      height: 200px;
    }
  }